/* LIGHT THEME */
body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    text-align: center;
    padding: 20px;
}

#profile-img {
    width: 140px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

section {
    padding: 20px;
}

/* DARK THEME */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* BUTTON */
button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
